

h1 {
  text-align: center;
  color: navy;
  background-color: rgba(3, 10, 104, 0.146);
  padding: 10px;
  margin: 30px;
}

.section {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

button {
  padding: 16px 32px;
  background-color: navy;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


  
  